<h2>Registration</h2>

<form [formGroup]="registrationForm">

  <div id="company_wrapper">
    <fieldset>
      <label for="company_name">Company name: </label>
      <input id="company_name" type="text" formControlName="companyName" placeholder="">
      <!--Error Message-->
      <span *ngIf="registrationForm.controls.companyName.invalid">Company name must be filled !</span>
    </fieldset>

    <fieldset>
      <label for="company_address">Company address: </label>
      <input id="company_address" type="text" formControlName="companyAddress" placeholder="">
      <!--Error Message-->
      <span *ngIf="registrationForm.controls.companyAddress.invalid">Company name must be filled !</span>
    </fieldset>
  </div>


  <div id="admin_wrapper">
    <fieldset>
      <label for="first_name">Admin first name: </label>
      <input id="first_name" type="text" formControlName="adminFirstName" placeholder="">
      <!--Error Message-->
      <span *ngIf="registrationForm.controls.adminFirstName.invalid">First name must be filled !</span>
    </fieldset>

    <fieldset>
      <label for="last_name">Admin last name: </label>
      <input id="last_name" type="text" formControlName="adminLastName" placeholder="">
      <!--Error Message-->
      <span *ngIf="registrationForm.controls.adminLastName.invalid">Last name must be filled !</span>
    </fieldset>

    <fieldset>
      <label for="email_address">E-mail address: </label>
      <input id="email_address" type="email" formControlName="adminEmailAddress" placeholder="">
      <!--Error Message-->
      <div *ngIf="registrationForm.controls.adminEmailAddress.invalid">
        <span *ngIf="registrationForm.controls.adminEmailAddress.errors.required; else adminEmailAddressInvalidEmail">Email address must be filled !</span>
        <ng-template #adminEmailAddressInvalidEmail><span>Wrong form of email address</span></ng-template>
      </div>

    </fieldset>

    <div id="passwords_wrapper">
      <fieldset>
        <label for="password_1">Password: </label>
        <input id="password_1" type="password" formControlName="adminPassword1" placeholder="">
      </fieldset>

      <fieldset>
        <label for="password_2">Repeat password: </label>
        <input id="password_2" type="password" formControlName="adminPassword2" placeholder="">
      </fieldset>

      <!--Error Message-->
      <span *ngIf="registrationForm.controls.adminPassword1.value != registrationForm.controls.adminPassword2.value || registrationForm.controls.adminPassword1.invalid">Passwords must be same and min 6 characters long!</span>
    </div>

  </div>

  <button (click)="onSubmit()" [disabled]="registrationForm.invalid || registrationForm.controls.adminPassword1.value != registrationForm.controls.adminPassword2.value">Register</button>

</form>
