<div class="background bg-gradient-primary"></div>

<div class="container">
  <div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-flex">
          <div class="flex-grow-1 bg-register-image" [ngStyle]="{'background-image': demoImageCss}"></div>
        </div>
        <div class="col-lg-7">
          <div class="p-5">

            <!-- Title -->
            <div class="text-center">
              <h4 class="text-dark mb-4">Register for TimeKeeper</h4>
            </div>

            <!-- Form -->
            <form class="user" [formGroup]="registerUserForm" [ngStyle]="{'opacity': registerFinished === true ? '1.0': '0.5'}">

              <!-- Company register section -->
              <div class="text-left">
                <h5 class="text-dark mb-4">Company info</h5>
              </div>

              <!-- Company name -->
              <div class="mb-3">
                <input class="form-control form-control-user" type="text" formControlName="name" placeholder="Company name">
              </div>

              <!-- Company address -->
              <div class="mb-3">
                <input class="form-control form-control-user" type="text" formControlName="address" placeholder="Company address">
              </div>

              <!-- User register section -->
              <div class="text-left">
                <h5 class="text-dark mb-4">User data</h5>
              </div>

              <!-- First and last name -->
              <div class="row mb-3">

                <!-- First name -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input class="form-control form-control-user" type="text" formControlName="firstName" placeholder="First Name">
                </div>

                <!-- Last name -->
                <div class="col-sm-6">
                  <input class="form-control form-control-user" type="text" formControlName="lastName" placeholder="Last Name">
                </div>
              </div>

              <!-- E-mail -->
              <div class="mb-3">
                <input class="form-control form-control-user" type="email" formControlName="email" placeholder="Email Address">
              </div>

              <!-- Password & repeat password -->
              <div class="row mb-3">

                <!-- Password -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input class="form-control form-control-user" type="password" formControlName="password" placeholder="Password">
                </div>

                <!-- Repeat password -->
                <div class="col-sm-6">
                  <input class="form-control form-control-user" type="password" formControlName="confirmPassword" placeholder="Repeat Password">
                </div>
              </div>

              <!-- Company ID (set through JS) -->
              <input type="hidden" formControlName="companyId">
              <input type="hidden" formControlName="isAdmin">
              <input type="hidden" formControlName="payPerHour">

              <!-- Register button -->
              <button class="btn btn-primary d-block btn-user w-100" type="submit"
                      (click)="onSubmit()" [disabled]="!registerFinished || register_disabled">
                Register Account
              </button>
              <hr>
            </form>

            <!-- Go to login -->
            <div class="text-center">
              <span class="subtext btn btn-link" (click)="clientAppRoutes.Logout()">
                Already have an account? Login!
              </span>
            </div>

            <!-- Error message -->
            <div class="text-center">
              <app-error-message [message]="errorMessage"></app-error-message>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
