.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

/* If error message not shown, do not hide but just make invisible */
#errorSpan:not(.text-danger) {
  color: transparent;
  user-select: none;
}
