<!-- Modal -->
<div class="modal fade " id="userAddingModal" tabindex="-1" aria-labelledby="userAddingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content" style="width:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="userAddingModalLabel">Adding new user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="user" id="add_user_form" [formGroup]="addNewUserForm">

          <div>
            <div class="row mb-3">
              <div class="col-sm-6 mb-1">
                <label class="form-label">First name</label>
                <input class="form-control form-control-user" id="add_first_name" type="text" placeholder="Firstname" formControlName="firstName">
              </div>

              <div class="col-sm-6 mb-1">
                <label class="form-label">Last name</label>
                <input class="form-control form-control-user" id="add_last_name" type="text" placeholder="Lastname" formControlName="lastName">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-12 mb-1">
                <label class="form-label">Email address</label>
                <input class="form-control form-control-user" id="add_email" type="email" placeholder="Email address" formControlName="email">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-sm-4 mb-1 d-flex justify-content-center align-items-center">
                <label for="is_admin_checkbox_adding_user" class="form-label text-center p-0 m-0">Admin &nbsp;</label>
                <input id="is_admin_checkbox_adding_user" class="form-check-input" type="checkbox" formControlName="isAdmin">
              </div>

              <div class="col-sm-8 mb-1 d-flex justify-content-between">
                <label class=" form-label d-flex align-items-start flex-column justify-content-center align-items-end p-0 m-0" style="width:60%">Pay per hour</label>
                <input class="form-control form-control-user" id="add_pay_per_hour" style="margin-left:1rem;" type="text" placeholder="Pay per hour" formControlName="payPerHour">
              </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary bg-primary" (click)="savingDone($event)" data-bs-dismiss="modal">Save new user</button>
      </div>
    </div>
  </div>
</div>
