<!-- Modal -->
<div class="modal fade " id="userEditingModal" tabindex="-1" aria-labelledby="userEditingModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content" style="width:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="userEditingModalLabel">Editing user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="user" id="edit_user_form">

          <div>
            <div class="row mb-3">

              <div class="col-sm-6 mb-1">
                <label for="first_name" class="form-label">First name</label>
                <input class="form-control form-control-user" id="first_name" type="text" placeholder="{{receivedUser?.firstName}}" value="{{receivedUser?.firstName}}" required>
              </div>

              <div class="col-sm-6 mb-1">
                <label for="last_name" class="form-label">Last name</label>
                <input class="form-control form-control-user" id="last_name" type="text" placeholder="{{receivedUser?.lastName}}" value="{{receivedUser?.lastName}}" required>
              </div>

            </div>

            <div class="row mb-3">
              <div class="col-sm-12 mb-1">
                <label for="email_address" class="form-label">Email address</label>
                <input class="form-control form-control-user" id="email_address" type="email" placeholder="{{receivedUser?.emailAddress}}" value="{{receivedUser?.emailAddress}}" required>
              </div>
            </div>

            <div class="row mt-4 mb-3">

              <div class="col-sm-4 mb-1 d-flex justify-content-center align-items-center">
                <label for="is_admin_checkbox" class="form-label text-center p-0 m-0">Admin &nbsp;</label>
                <input *ngIf="receivedUser?.isAdmin; else elseBlock" id="is_admin_checkbox" class="form-check-input" type="checkbox" checked="checked">
                <ng-template #elseBlock>
                  <input id="is_admin_checkbox" class="form-check-input" type="checkbox">
                </ng-template>
              </div>


              <div class="col-sm-8 mb-1 d-flex justify-content-between">
                <label for="pay_per_hour" class=" form-label d-flex align-items-start flex-column justify-content-center align-items-end p-0 m-0" style="width:60%">Pay / Hour</label>
                <input class="form-control form-control-user" id="pay_per_hour" style="margin-left:1rem;" type="text" placeholder="{{receivedUser?.payPerHour}}" value="{{receivedUser?.payPerHour}}" required pattern="^\d*\.?\d*$">
              </div>

            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="emitUserDeleting($event)" data-bs-dismiss="modal">Delete user</button>
        <button type="button" class="btn btn-primary bg-primary" (click)="editingDone($event)" data-bs-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
