.card-body {
    padding: 0 0 5px;
}

form textarea {
    resize: vertical;
}

.clock-in-textarea {
    resize: none !important;
    background: rgba(0, 0, 0, 0.075);
    user-select: none;
}

.flatpickr-input {
    display: none !important;
}
