<div id="fp_container" class="pb-3 mb-3">

    <!-- Title & Generate report -->
    <div class="d-sm-flex justify-content-between align-items-center my-4">
        <h3 class="text-dark mb-0">
            Workday calendar
        </h3>
    </div>

    <!-- FP Calendar (Warning - do not change ID) -->
    <div id="fpWorkday"></div>

    <!-- Button trigger modal -->
    <button id="workday_modal_open" type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#workDayModal"></button>

    <!-- Modal -->
    <div class="modal fade" id="workDayModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="workDayModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="workDayModalLabel">
                        <!-- Edit -->
                        <i class="fa-solid fa-calendar"></i>&nbsp;
                        <strong id="workday_modal_title">YYYY-MM-DD</strong>&nbsp;
			<span id="workday_modal_hours">(3.7 hours)</span>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- Workday form -->

                    <!-- Form -->
                    <form class="user" [formGroup]="workdayForm">

                        <!-- Clock ins -->
                        <!--<div class="mb-3">
                            <label for="t_timestamps">Clock ins</label>
                            <textarea id="t_timestamps" class="clock-in-textarea form-control w-100" type="text" placeholder="Textarea input" readonly>{{clock_ins}}</textarea>
			</div>-->

                        <!-- Clock in & out -->
                        <div class="row pb-3">

                            <!-- Clock in -->
                            <div class="col-sm-6 mb-3 mb-sm-0">
				<label>Clock in</label>
                                <input class="form-control form-control-user" type="text" placeholder="Clock in">
                            </div>

                            <!-- Clock out -->
                            <div class="col-sm-6">
				<label>Clock out</label>
                                <input class="form-control form-control-user" type="text" placeholder="Clock out">
                            </div>
                        </div>

                        <!-- Project -->
                        <div class="mb-3">
			    <label>Project</label>
                            <input class="form-control form-control-user" type="text" placeholder="Time period project">
                        </div>

                        <!-- Description -->
                        <div class="">
			    <label>Description</label>
                            <textarea class="form-control w-100" type="text" placeholder="Time period description"></textarea>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button id="workday_close_b" type="button" class="btn btn-secondary">Close</button>
                    <button id="workday_save_b" type="button" class="btn btn-primary">Save all</button>
                </div>
            </div>
        </div>
    </div>

</div>
