<div id="fp_container" class="pb-3 mb-3">

    <!-- Title & Generate report -->
    <div class="d-sm-flex justify-content-between align-items-center my-4">
        <h3 class="text-dark mb-0">
            Workday calendar
        </h3>
    </div>

    <!-- FP Calendar -->
    <input
        mwlFlatpickr
        instance="fp_inst"
        [(ngModel)]="selected_date"
        [options]="fp_options"
        (flatpickrReady)="fp_on_ready($event)"
        (flatpickrChange)="fp_on_change($event)"
        (flatpickrDayCreate)="fp_on_day_create($event)" />

    <!-- Seed data (debugging) -->
    <div class="mt-4 text-center" *ngIf="user_data.workdays.length == 0">
        <p>
            No workdays found.
        </p>
        <button class="btn btn-success" (click)="init_seed_workdays()">Generate randomly</button>
    </div>

    <!-- Button trigger modal -->
    <button id="workday_modal_open" type="button" class="d-none" data-bs-toggle="modal"
        data-bs-target="#workDayModal"></button>

    <!-- Modal -->
    <div class="modal fade" id="workDayModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="workDayModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="workDayModalLabel">
                        <!-- Edit -->
                        <i class="fa-solid fa-calendar"></i>&nbsp;
                        <strong id="workday_modal_title">
                            {{selected_date}}
                        </strong>
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <!-- Workdays form -->

                    <div *ngFor="let wd of filter_workday_days(selected_date); let isLast = last;" [attr.data-workdayId]="wd.id">

                        <!-- Clock in & out -->
                        <div class="row pb-3">

                            <!-- Clock in -->
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <label>Clock in</label>
                                <input class="form-control form-control-user" type="text" placeholder="Clock in" [value]="(wd.clockIn || 'T').split('T')[1]">
                            </div>

                            <!-- Clock out -->
                            <div class="col-sm-6">
                                <label>Clock out</label>
                                <input class="form-control form-control-user" type="text" placeholder="Clock out" [value]="(wd.clockOut || 'T').split('T')[1]">
                            </div>
                        </div>

                        <!-- Project -->
                        <div class="mb-3">
                            <label>Project</label>
                            <input class="form-control form-control-user" type="text" placeholder="Time period project" [value]="wd.projectId">
                        </div>

                        <!-- Description -->
                        <div class="">
                            <label>Description</label>
                            <textarea class="form-control w-100" type="text" placeholder="Time period description"
                                >{{wd.description}}</textarea>
                        </div>

                        <div class="mt-3">
                            <button id="workday_save_b" type="button" class="btn btn-primary">Save</button>
                        </div>

                        <hr *ngIf="!isLast" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button id="workday_close_b" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="workday_save_b" type="button" class="btn btn-primary">Save all</button>
                </div>
            </div>
        </div>
    </div>

</div>
