<div id="wrapper">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">

      <app-header></app-header>


      <div class="container-fluid">
        <!-- Title -->
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Employees</h3>
        </div>
      </div>

      <app-all-users-statistics [totalNumberOfEmployees]="totalNumberOfEmployees" [totalPayPerHour]="totalPayPerHour" [averagePayPerHour]="averagePayPerHour" (emitRefreshingUsersFlag)="listenForRefreshingUsersEmitter($event)"></app-all-users-statistics>

      <app-all-users-table [users]="users" [filteredUsers]="filteredUsers"></app-all-users-table>

    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <!--<div class="text-center my-auto copyright"><span>2023</span></div>-->
      </div>
    </footer>
  </div><a class="border rounded d-inline scroll-to-top" (click)="scrollToTop()"><i class="fas fa-angle-up"></i></a>
</div>
