<div id="content">

  <div class="container-fluid">

    <div class="row">
      <!-- Basic user data -->
      <div class="d-flex justify-content-center align-content-center text-center">
        <p class="display-6 fw-bold my-card-margin" style="border-radius: 2rem; background-color: rgb(0, 0, 0, 0.03);  padding: 20px;">Valerie Luna</p>
      </div>
    </div>

    <div class="row">
      <!-- Some statistic data & Export Excel Table -->
      <div class="d-flex justify-content-between align-content-center align-items-center">

        <div class="d-flex justify-content-between">

          <div class="card shadow border-start-primary my-card-margin" style="margin-left: 0">
            <div class="card-header text-primary fw-bold text-xs mb-1">
              <h5 class="text-primary fw-bold">Earnings (monthly)</h5>
            </div>
            <div class="card-body">
              <div class="align-items-center d-flex justify-content-around">
                <div class="text-dark fw-bold h5"><span>$40,000</span></div>
                <div><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
              </div>
            </div>
          </div>

          <div class="card shadow border-start-success my-card-margin">
            <div class="card-header text-primary fw-bold text-xs mb-1">
              <h5 class="text-primary fw-bold">Earnings (annual)</h5>
            </div>
            <div class="card-body">
              <div class="align-items-center d-flex justify-content-around">
                <div class="text-dark fw-bold h5 mb-0"><span>€215,000</span></div>
                <div><i class="fas fa-euro-sign fa-2x text-gray-300"></i></div>
              </div>
            </div>
          </div>
        </div>


        <div>
          <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#">
            <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Export Excel Table
          </a>
        </div>

      </div>
    </div>

    <div class="row">
      <!-- Chart & Calendar Area -->
      <div class="d-flex justify-content-between align-items-stretch">

        <!-- Salary Chart-->
        <app-salary-chart class="container my-card-margin"></app-salary-chart>

        <!-- Calendar -->
        <app-calendar class="container my-card-margin d-flex align-items-stretch" style="width: min-content; max-width: 40%; width: 40%;"></app-calendar>
      </div>
    </div>

    <div class="row">
      <!-- Check IN/OUT -->
      <div class=" d-flex align-items-center justify-content-center" style="margin: 20px 0px;">
        <button type="button" class="btn btn-primary fs-2 fw-bold" style="border-radius: var(--my-border-radius)">Clock In</button>
      </div>
    </div>

  </div>
</div>

<!--<a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>-->
