<!-- Modal -->
<div class="modal fade " id="userTimeKeeperModal" tabindex="-1" aria-labelledby="userTimeKeeperModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" style="max-width: 100%; width: 85%">
    <div class="modal-content" style="width:100%">
      <div class="modal-header">
        <h5 class="modal-title" id="userTimeKeeperModalLabel">{{receivedUser?.firstName}} {{receivedUser?.lastName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <app-dashboard [user]="receivedUser" [receivedClicksCounterFromModal]="clicksCounterInModal"></app-dashboard>

      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Delete user</button>
        <button type="button" class="btn btn-primary bg-primary" data-bs-dismiss="modal">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
