<nav id="navigation" class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div id="navigation-content" class="container-fluid d-flex flex-column p-0">
    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-calendar"></i></div>
      <div class="sidebar-brand-text mx-3"><span>TimeKeeper</span></div>
    </a>
    <hr class="sidebar-divider my-0">
    <ul class="navbar-nav text-light" id="accordionSidebar">
      <li class="nav-item">
        <a class="nav-link">
          <span style="font-size: 1.1rem; color: white;">{{loggedUser?.firstName}} {{loggedUser?.lastName}}</span>
        </a>
      </li>
      <li class="nav-item" (click)="clientAppRoutes.navigateToDashboard()">
        <a class="nav-link">
          <i class="fas fa-tachometer-alt"></i><span>Home</span>
        </a>
      </li>
      <!--      <li class="nav-item">-->
      <!--        <a class="nav-link" href="#">-->
      <!--          <i class="fas fa-user"></i><span>Profile</span>-->
      <!--        </a>-->
      <!--      </li>-->
      <li class="nav-item" (click)="clientAppRoutes.navigateToUsers()" *ngIf="loggedUser.isAdmin">
        <a class="nav-link">
          <i class="fas fa-table"></i>
          <span>Users</span>
        </a>
      </li>
      <li class="nav-item" (click)="clientAppRoutes.Logout()">
        <a class="nav-link">
          <i class="far fa-user-circle"></i>
          <span>Log out</span>
        </a>
      </li>
      <!-- Login shouldn't be visible here -->
      <!-- <li class="nav-item" (click)="clientAppRoutes.navigateToRegister()">
        <a class="nav-link">
          <i class="fas fa-user-circle"></i>
          <span>Register</span>
        </a>
      </li> -->
    </ul>
    <div class="text-center d-none d-md-inline">
      <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
    </div>
  </div>
</nav>
