<div class="bg-primary d-flex justify-content-between align-content-lg-center align-items-center" style="width: 100%; height: 100vh; flex-direction: column; user-select: none;">

  <div class="my-header-wrapper">
    <h1 class="display-3 fw-bold">TimeKeeper &nbsp;<i class="fas fa-calendar rotate-n-15"></i></h1>
    <button class="btn btn-primary fs-2 fw-bold bg-black" type="button">Register</button>
  </div>


  <div class="my-login-wrapper">

    <form [formGroup]="loginForm">

      <fieldset>
        <label for="email_address" class="fs-3 fw-bold">E-mail address: </label>
        <input id="email_address" type="email" formControlName="emailAddress" placeholder="" class="fs-4 fw-bold">
      </fieldset>

      <fieldset>
        <label for="password" class="fs-3 fw-bold">Password: </label>
        <input id="password" type="password" formControlName="password" placeholder="" class="fs-4 fw-bold">
      </fieldset>

      <div>
        <span class="display-6 fw-bold">Wrong email or password !</span>
        <button class="btn btn-primary fs-2 fw-bold bg-black" type="button" [disabled]="loginForm.invalid" (click)="onLogin($event)">Login</button>
      </div>

    </form>
  </div>


  <div class="my-footer-wrapper">
    <!--<h6>TimeKeeper</h6>-->
  </div>

</div>
