#my-authentication-component {

  button {
    color: white !important;
    background-color: rgba(255,255,255,0);
  }


  #my-header-wrapper, #my-footer-wrapper {
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    h1 {
      padding: 0;
      margin: 0;
    }
  }


  #my-form-wrapper {
    background-color: rgba(255, 255, 255, 0);
    border-radius: var(--my-border-radius);
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 3px 3px 10px black;

    form {
      width: 100%;
      max-width: 80%;
      color: white !important;

      fieldset {
        display: flex;
        justify-content: space-between;
        padding: 1%;
        width: 100%;

        input {
          width: 70%;
          padding: 1%;
          line-height: 1rem;
          border-radius: var(--my-border-radius);
          border-width: 0px;
          outline: none;
          text-decoration: none;
        }
      }

      span {
        display: block;
        width: 100%;
        text-align: center;
        padding: 2%
      }
    }
  }
}
